<header class="flex justify-between items-center py-2">
    <div class='flex gap-4 justify-center items-center'>
        <!-- Logo -->
        <img hx-get='{% url 'home' %}' 
            hx-swap='outerHTML transition:true' 
            hx-target='body' 
            hx-push-url='true' 
            src='{{website_setting.logo.url}}' 
            class='w-28 lg:w-40 cursor-pointer'>

        <!-- Search input -->
        <form hx-get='{% url 'products' %}' hx-target="body" hx-push-url='true' hx-swap='outerHTML transition:true' class="gap-2 hidden lg:flex">
            <div class='input input-bordered items-center gap-2 w-80 flex'>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-5 w-5 opacity-70">
                    <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                </svg>
                <input type="text" class="grow focus:ring-0 border-none" placeholder="جستجو" id='search' name="search"/>
            </div>
            <button class='btn btn-primary' type='submit'>جستجو</button>
        </form>
    </div>

    <!-- Only visible on mobile -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-6 w-6 opacity-70 block lg:hidden mr-2 cursor-pointer">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
    </svg>

    <!-- Auth and shopping cart -->
    <div class="flex gap-2 justify-center items-center">
        <!-- Badge for cart icon -->
        {% if cart_items_number > 0 %}
            <div class="badge badge-primary relative right-32 bottom-3 z-30">{{cart_items_number}}</div>
        {% endif %}

        {% if user.is_authenticated %}
            <details class="dropdown dropdown-end">
                <summary class="m-1 btn bg-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                </summary>
                <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 relative shadow">
                    <li><a>{{user.phone_number}}</a></li>
                    <li><a hx-get='{% url 'orders_list' %}' hx-target='body' hx-push-url='true' hx-swap='outerHTML transition:true'>سفارشات</a></li>
                    <li><a hx-get='{% url 'setting' %}' hx-target='body' hx-push-url='true' hx-swap='outerHTML transition:true'>تنظیمات</a></li>
                    <li><a href='{% url 'logout' %}'>خروج</a></li>
                </ul>
            </details>
        {% else %}
            <button hx-get='{% url 'login_phone' %}' hx-swap='outerHTML transition:true' hx-target='body' hx-push-url='true' class="btn btn-outline ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                </svg> 
                ورود | ثبت نام                  
            </button>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="border-r border-gray-500 h-8 ml-2"></div>
            <button class='btn bg-white'  hx-get='{% url 'cart' %}' hx-swap='outerHTML transition:true' hx-target='body' hx-push-url='true'>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7 cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                </svg> 
            </button> 
        {% endif %}            
    </div>
</header>

<!-- Second Header -->
<div class="py-2 justify-start items-center hidden lg:flex gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
    <p class=" border-b border-white hover:border-primary cursor-pointer">دسته بندی کالاها</p> 
    <div class="border-r border-gray-500 h-6 mx-2 cursor-pointer"></div>        
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-4 cursor-pointer text-gray-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.99 14.993 6-6m6 3.001c0 1.268-.63 2.39-1.593 3.069a3.746 3.746 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043 3.745 3.745 0 0 1-3.068 1.593c-1.268 0-2.39-.63-3.068-1.593a3.745 3.745 0 0 1-3.296-1.043 3.746 3.746 0 0 1-1.043-3.297 3.746 3.746 0 0 1-1.593-3.068c0-1.268.63-2.39 1.593-3.068a3.746 3.746 0 0 1 1.043-3.297 3.745 3.745 0 0 1 3.296-1.042 3.745 3.745 0 0 1 3.068-1.594c1.268 0 2.39.63 3.068 1.593a3.745 3.745 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.297 3.746 3.746 0 0 1 1.593 3.068ZM9.74 9.743h.008v.007H9.74v-.007Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm4.125 4.5h.008v.008h-.008v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
    </svg> 
    <p hx-get='{% url 'products' %}?discount=true' hx-swap='outerHTML transition:true' hx-target='body' hx-push-url='true' class="text-gray-500 cursor-pointer border-b border-white hover:border-primary">تخفیف ها</p>  
    <p hx-get='{% url 'faq' %}' hx-swap='outerHTML transition:true' hx-target='body' hx-push-url='true' class="mr-4 text-gray-500 cursor-pointer border-b border-white hover:border-primary">سوالی دارید؟</p>         
</div>
<div class=" border-b border-gray-300"></div>