{% extends "core/base.html" %}
{% load static %}  

{% block content %}
<div dir="rtl" class="px-3 md:px-8 2xl:px-[10%]">
    <!-- Header -->
    {% include "products/partial/header.html" %}

    <div class="breadcrumbs text-sm my-4">
        <ul>
          <li><a hx-get='{% url 'home' %}' hx-target='body' hx-swap='outerHTML transition:true' hx-push-url='true'>خانه</a></li>
          <li><a hx-get='{% url 'products' %}?category={{product.category.id}}' hx-swap='outerHTML transition:true' hx-target='body' hx-push-url='true'>{{product.category}}</a></li>
          <li class='text-primary'>{{product.name}}</li>
        </ul>
    </div>

    <div class='flex flex-col xl:flex-row justify-center items-start gap-14 xl:gap-8'>
        <!-- Photo gallery -->
        <div class="w-full lg:w-[30rem] 2xl:w-[36rem]"> 
            <div class="relative">  
                <!-- Carousel Main Image -->  
                <div id="main_image_con" class="overflow-hidden">  
                    <img id="main-image" class=" object-cover transition-opacity duration-300 border border-gray-200 rounded-lg w-full xl:w-[30rem] 2xl:w-[35rem]" 
                        src="{% if product.image == 'default.png' %} {% static 'default.png' %} {% else %} {{ product.image.url }}{% endif %}">  
                </div> 
            </div>  
        
            <!-- Thumbnails -->  
            <div class="flex gap-2 mt-4 w-full overflow-x-auto overflow-y-hidden">  
                <!-- Main image in thumbnails -->
                <img class="thumbnail cursor-pointer w-28 h-28 object-cover rounded-lg border transition-transform duration-300 hover:scale-110"   
                    src="{% if product.image == 'default.png' %} {% static 'default.png' %} {% else %} {{ product.image.url }}{% endif %}"
                    onclick="changeImage('{% if product.image == 'default.png' %} {% static 'default.png' %} {% else %} {{ product.image.url }}{% endif %}')">
        
                {% for image in images %}
                <img class="thumbnail cursor-pointer w-28 h-28 object-cover rounded-lg border transition-transform duration-300 hover:scale-110"   
                    src="{{image.image.url}}"
                    onclick="changeImage('{{image.image.url}}')">
                {% endfor %}
            </div>   
        </div>

        <!-- Product Details -->
        <div class="w-full xl:w-[30rem] 2xl:w-[40rem] flex flex-col gap-4">
            <h2 class="font-medium text-xl border-b border-gray-300 pb-2">{{product.name}}</h2>
            <p>{{product.description|safe}}</p>
            <p class="font-medium text-lg">ویژگی ها</p>
            <div class="grid grid-cols-3 gap-2">
                <div class="bg-gray-200 p-2 rounded">
                    <p class="text-gray-500">دسته بندی</p>
                    <p>{{product.category}}</p>
                </div>
                <div class="bg-gray-200 p-2 rounded">
                    <p class="text-gray-500">برند</p>
                    <p>{{product.brand}}</p>
                </div>
                <div class="bg-gray-200 p-2 rounded">
                    <p class="text-gray-500">قابل حمل</p>
                    <p>{% if product.portable%}بله{% else %}خیر{% endif %}</p>
                </div>
            </div>
            <div class="border border-gray-300 rounded-md p-4 mb-2">
                <div class="flex flex-col gap-2 justify-between">
                    <div class='flex gap-1 items-start'>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                        </svg>
                        <p>تعداد موجودی: {{product.stock}}<p>
                    </div>
                    <div class='flex gap-2'>
                        {% if product.stock == 0 %}
                            <p class="font-medium text-lg text-gray-500">ناموجود</p>
                        {% elif product.special_price %}
                            <p class="font-medium text-lg">{{product.formatted_special_price}}</p>
                            <p class="font-medium text-lg line-through">{{product.formatted_price}}</p>  
                        {% else %}
                            <p class="font-medium text-lg">{{product.formatted_price}}</p> 
                        {% endif %}
                    </div>             
                </div>
                <button 
                    class="btn btn-primary mt-4 w-full" 
                    {% if product.stock == 0 %}disabled{% endif %}
                    hx-get='{% url 'add_to_cart' product.id %}' 
                    hx-swap='outerHTML'
                    >افزودن به سبد خرید</button>
                <div class="flex mt-4 gap-2 items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                    </svg>                      
                    <p class="font-medium text-sm">گارانتی سلامت فیزیکی کالا</p>              
                </div>
            </div>
        </div>
    </div>

    <!-- Products with same category -->
    <div class='w-full flex flex-col rounded-xl mt-24'>
        <h2 class='font-medium text-2xl text-center'>محصولات مشابه</h2>          
        {% include "products/partial/products_list_partial.html" %}
    </div>

    <!-- Commments -->
    <div id='comments' class='mt-20 lg:w-[50%] 2xl:w-[40%] lg:mx-auto'>
        {% include "products/partial/comments.html" %}
    </div>

    <!-- Footer -->
    {% include "products/partial/footer.html" %}
</div>

<script>  
    // JavaScript to handle image change with thumbnails  
    function changeImage(imageUrl) {  
        const mainImageCon = document.getElementById('main_image_con')  
        mainImageCon.innerHTML = `<img id="main-image" class="mx-auto object-cover w-full border border-gray-200 transition-opacity duration-300 rounded-lg" src="${imageUrl}">`
    }  
</script> 

{% endblock %}