{% extends "core/base.html" %}

{% block content %}

<div dir="rtl" class="px-2 md:px-8 2xl:px-[10%]">
    <!-- Header -->
    {% include "products/partial/header.html" %}

    <h2 class="mt-5 text-lg font-medium grid">تیشرت مردانه</h2>
    <div class="flex flex-col lg:flex-row mt-4 gap-6">
        <!-- Filters section -->
        <div class="p-3 border border-gray-300 rounded-md w-full lg:w-1/4">
            <h3 class="font-medium text-gray-700">فیلتر ها</h3>
            <select class="select w-full max-w-xs mt-4">
                <option disabled selected>رنگ</option>
                <option>سفید</option>
                <option>قرمز</option>
                <option>مشکی</option>
            </select>
            <select class="select w-full max-w-xs mt-2">
                <option disabled selected>برند</option>
                <option>سونی</option>
                <option>LG</option>
            </select>
            <div class="form-control pr-3 mt-2">
                <label class="label cursor-pointer flex justify-between">
                    <span class="label-text">فقط کالاهای موجود</span>
                    <input type="checkbox" class="toggle toggle-primary" />
                </label>
            </div>
            <div class="pr-4 text-sm mt-3">
                <p>محدوده قیمت</p>
                <label class="input input-bordered flex items-center gap-2 mt-2" >
                    از
                    <input type="text" class="grow focus:ring-0 border-none" placeholder="تومان" />
                </label>
                <label class="input input-bordered flex items-center gap-2 mt-2" >
                    تا
                    <input type="text" class="grow focus:ring-0 border-none" placeholder="تومان" />
                </label>
            </div>
            <select class="select w-full max-w-xs mt-2">
                <option disabled selected>دسته بندی</option>
                <option>لوازم آشپزخانه</option>
            </select>
        </div>

        <!-- Sort and products list -->
        <div class="lg:w-3/4">
            <div class="flex justify-start items-center gap-4 border-b border-gray-300 pb-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
                </svg> 
                <p class=" text-sm">مرتب سازی:</p>
                <a class="font-normal text-primary cursor-pointer text-sm">جدیدترین</a>                 
                <a class="font-normal text-gray-500 cursor-pointer text-sm">ارزان ترین</a>                 
                <a class="font-normal text-gray-500 cursor-pointer text-sm">گران ترین</a>                 
                <a class="font-normal text-gray-500 cursor-pointer text-sm">محبوب ترین</a>                 
            </div>

            {% include "products/partial/products_list_partial.html" %}
        </div>
    </div>
</div>

{% endblock %}