{% extends "core/base.html" %}

{% block content %}

<div dir="rtl" class="px-2 md:px-8 2xl:px-[10%]">
    <!-- Header -->
    {% include "products/partial/header.html" %}

    <h2 class="mt-5 text-lg font-medium grid">تیشرت مردانه</h2>
    <div class="flex flex-col lg:flex-row mt-4 gap-6">
        <!-- Filters section -->
        <div class="flex flex-col p-3 border border-gray-300 rounded-md w-full lg:w-1/4">
            <h3 class="font-medium text-gray-700">فیلتر ها</h3>

            <select id='brand' class="select w-full max-w-xs mt-2" onchange='updateUrl()' name="brand" >
                <option value='' selected>برند</option>
                {% for brand in brands %}
                <option value="{{ brand.id }}" {% if brand.id|stringformat:"s" == selected_brand %}selected{% endif %}>{{ brand.title }}</option>
                {% endfor %}
            </select>

            <div class="form-control pr-3 mt-2">
                <label class="label cursor-pointer flex justify-between">
                    <span class="label-text">کالا های قابل حمل</span>
                    <input onchange='updateUrl()' {% if selected_portable == 'true' %} checked {% endif %} id='portable' type="checkbox" class="toggle toggle-primary" />
                </label>
            </div>

            <div class="form-control pr-3 mt-2">
                <label class="label cursor-pointer flex justify-between">
                    <span class="label-text">کالا های تخفیف دار</span>
                    <input onchange='updateUrl()' {% if selected_discount == 'true' %} checked {% endif %} id='discount' type="checkbox" class="toggle toggle-primary" />
                </label>
            </div>

            <div class="form-control pr-3 mt-2">
                <label class="label cursor-pointer flex justify-between">
                    <span class="label-text">فقط کالاهای موجود</span>
                    <input onchange='updateUrl()' {% if selected_stock == 'true' %} checked {% endif %} id='stock' type="checkbox" class="toggle toggle-primary" />
                </label>
            </div>

            <div class="pr-4 text-sm mt-3">
                <p>محدوده قیمت</p>
                <label class="input input-bordered flex items-center gap-2 mt-2" >
                    از
                    <input id='from' onchange='updateUrl()' {% if selected_from %} value='{{selected_from}}' {% endif %} type="text" class="grow focus:ring-0 border-none" placeholder="تومان" />
                </label>
                <label class="input input-bordered flex items-center gap-2 mt-2" >
                    تا
                    <input id='to' onchange='updateUrl()' {% if selected_to %} value='{{selected_to}}' {% endif %} type="text" class="grow focus:ring-0 border-none" placeholder="تومان" />
                </label>
            </div>

            <select class="select w-full max-w-xs mt-2" id='category' onchange='updateUrl()' name="category">  
                <option selected value=''>دسته بندی</option>  
                {% for category in categories %}  
                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category %}selected{% endif %}>{{ category.name }}</option>  
                {% endfor %}  
            </select>  
        </div>


        <!-- Sort and products list -->
        <div class="lg:w-3/4">
            <div class="flex justify-start items-center gap-4 border-b border-gray-300 pb-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
                </svg> 
                <p class=" text-sm">مرتب سازی:</p>
                <a onclick='updateUrl(order="latest")' class="font-normal cursor-pointer text-sm {%if order == 'latest' or order is not defined or order is none%} text-primary {%else%} text-gray-500 {%endif%}">جدیدترین</a>                 
                <a onclick='updateUrl(order="cheapest")' class="font-normal cursor-pointer text-sm {%if order == 'cheapest' or order is not defined or order is none%} text-primary {%else%} text-gray-500 {%endif%}">ارزان ترین</a>                 
                <a onclick='updateUrl(order="expensive")' class="font-normal cursor-pointer text-sm {%if order == 'expensive' or order is not defined or order is none%} text-primary {%else%} text-gray-500 {%endif%}">گران ترین</a>                 
                <a onclick='updateUrl(order="popular")' class="font-normal cursor-pointer text-sm {%if order == 'popular' or order is not defined or order is none%} text-primary {%else%} text-gray-500 {%endif%}">محبوب ترین</a>                 
            </div>

            <div id='product-list'>
                {% include "products/partial/products_list_partial.html" %}
            </div>
        </div>
    </div>
    <!-- Footer -->
    {% include "products/partial/footer.html" %}
</div>

<script>  
    function updateUrl(order='latest') {  
        const brand = document.getElementById('brand').value;  
        const category = document.getElementById('category').value;  
        const portable = document.getElementById('portable').checked;  
        const discount = document.getElementById('discount').checked;  
        const stock = document.getElementById('stock').checked;  
        const from = document.getElementById('from').value;  
        const to = document.getElementById('to').value;  
        const url = new URL(window.location);  

        if (brand) { url.searchParams.set('brand', brand)} else { url.searchParams.delete('brand') }  
        if (category) { url.searchParams.set('category', category)} else { url.searchParams.delete('category') }  
        if (portable) { url.searchParams.set('portable', portable)} else { url.searchParams.delete('portable') }  
        if (discount) { url.searchParams.set('discount', discount)} else { url.searchParams.delete('discount') }  
        if (stock) { url.searchParams.set('stock', stock)} else { url.searchParams.delete('stock') }  
        if (from) { url.searchParams.set('from', from)} else { url.searchParams.delete('from') }  
        if (to) { url.searchParams.set('to', to)} else { url.searchParams.delete('to') } 
        url.searchParams.set('order', order)
        
        htmxRequest(url) 
    }

    function htmxRequest(url) {
        window.history.pushState({}, '', url);
        var productsUrl = "{% url 'products' %}?" + url.searchParams.toString();  
        htmx.ajax('GET', productsUrl, { target: 'body' }); 
    }  
</script>

{% endblock %}